#special-paragraph {
    color: blue;
    background-color: gray;
}

p {
    color: gray;
    background-color: white;
}

div {
    color: white;
    background-color: black;
}
body {
    color: black;
    background-color: white;
}

